.paragraph__title {
    font-family: 'Forum';
    font-weight: 400;
    color: #E1DECE;
    font-size: 30px;
    line-height: 45px;
    margin: 40px auto 20px auto;
    text-align: left;
}

@media (max-width: 768px){
    .paragraph__title {
        font-size: 20px;
        line-height: 1.5;
        margin: 20px auto 10px auto;
    }
}