.form__button{
    width: 100%;
    margin: 20px auto 0;
    background-color: #191919;
    border-radius: 2px;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    text-align: center;
    padding: 14px 0;
    border-radius: 5px;
    transition: .3s;
}

.form__button:hover{
    opacity: .9;
    transition: .3s;
    cursor: pointer;
}