.articles__text{
    color: #D0D0D0;
    text-align: left;
    font-size: 16px;
    line-height: 1.45;
    font-weight: 400;
    padding: 0 5px;
    margin: 0;
    height: 170px;
}

@media (max-width: 768px){
    .articles__text{
        font-size: 15px;
        height: 100px;
    }
}

@media (max-width: 425px){
    .articles__text{
        font-size: 14px;
        height: 125px;
    }
}