.header{
    max-width: 1100px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
}