.menu__list {
    padding: 0;
    max-width: 609px;
    display: flex;
    align-items: center;
    list-style: none;
}

@media (max-width: 768px){
    .menu__list{
        visibility: hidden;
    }
}