.label__right{
    position: absolute;
    right: 10px;
    bottom: -80px;
    max-width: 400px;
}

@media (max-width: 1024px){
    .label__right{
        max-width: 300px;
        bottom: -50px;
    }
}

@media (max-width: 768px){
    .label__right{
        max-width: 200px;
        bottom: -30px;
    }
}

@media (max-width: 425px){
    .label__right{
        max-width: 130px;
    }
}