.steps__link {
    color: #6E6E6E;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s
}

.steps__link:hover{
    color:#be9764 ;
    transition: all 0.3s ;
}