.menu__link{
    color: #ffffff;
    text-decoration: none;
    transition: 1s;
    position: relative;
    font-weight: 400;
    font-family:  "Roboto";
    font-size: 14px;
    line-height: 16px;
}

@media (max-width: 1020px){
    .menu__link{
        font-size: 13px;
        line-height: 1.15;
    }
}

.menu__link::before{
    background-color: #E1DECE;
    position: absolute;
    content: '';
    bottom: 0;
    width: 100%;
    height: 1px;
    transition: 1s;
    transform: scaleX(0);
}

.menu__link:hover{
    color: #E1DECE;
    transition: 1s;
    cursor: pointer;
}

.menu__link:hover:before{
    transform: scaleX(1);
}