.useful{
    max-width: 1170px;
    padding-top: 100px;
    max-width: 100%;
    background-image: url(../../images/useful/bg_useful.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto; 
}

@media (max-width: 425px){
    .useful{
        padding-top: 250px;
    }
}