.beginning__text{
    max-width: 960px;
    text-align: center;
    font-size: 20px;
    line-height: 1.4;
    color: #E1DECE;
    margin: 0 0 10px;
}

@media (max-width: 1020px){
    .beginning__text{
        max-width: 720px;
        font-size: 16px;
        line-height: 1.4;
    }
}

@media (max-width: 768px){
    .beginning__text{
        max-width: 540px;
        font-size: 12px;
        line-height: 1.4;
        margin-bottom: 5px;
    }
}

@media (max-width: 425px){
    .beginning__text{
        max-width: 300px;
        font-size: 10px;
        line-height: 1.4;
        margin-bottom: 5px;
    }
}
