@import url(./vendor/normalize.css);

/*Подключаем fonts*/
@import url(./fonts/fonts.css);

/*Подключаем page*/
@import url(./blocks/page/page.css);

/*Подключаем header*/
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__box/header__box.css);
@import url(./blocks/header/__phone/header__phone.css);
@import url(./blocks/header/__phone-image/header__phone-image.css);
@import url(./blocks/header/__menu/header__menu.css);
@import url(./blocks/header/__close-icon/header__close-icon.css);
@import url(./blocks/header/__size/header__size.css);
@import url(./blocks/header/__size/_close-icon/header__size_close-icon.css);

/*Подключаем initial*/
@import url(./blocks/initial/initial.css);
@import url(./blocks/initial/__info/initial__info.css);
@import url(./blocks/initial/__title/initial__title.css);
@import url(./blocks/initial/__subtitle/initial__subtitle.css);
@import url(./blocks/initial/__text/initial__text.css);
@import url(./blocks/initial/__box/initial__box.css);
@import url(./blocks/initial/__line/initial__line.css);
@import url(./blocks/initial/__social-icon/initial__social-icon.css);
@import url(./blocks/initial/__button/initial__button.css);
@import url(./blocks/initial/__logo/initial__logo.css);
@import url(./blocks/initial/__list/initial__list.css);
@import url(./blocks/initial/__link/initial__link.css);
@import url(./blocks/initial/__box-image/initial__box-image.css);

/*Подключаем we*/
@import url(./blocks/we/we.css);
@import url(./blocks/we/__text/we__text.css);
@import url(./blocks/we/__info/we__info.css);
@import url(./blocks/we/__box/we__box.css);
@import url(./blocks/we/__image/we__image.css);

/*Подключаем portfolio*/
@import url(./blocks/portfolio/portfolio.css);

/*Подключаем advantage*/
@import url(./blocks/advantage/advantage.css);

/*Подключаем positives*/
@import url(./blocks/positives/positives.css);
@import url(./blocks/positives/__content/positives__content.css);
@import url(./blocks/positives/__container/positives__container.css);
@import url(./blocks/positives/__container/_right/positives__container_right.css);
@import url(./blocks/positives/__image/positives__image.css);
@import url(./blocks/positives/__box/positives__box.css);
@import url(./blocks/positives/__title/positives__title.css);
@import url(./blocks/positives/__text/positives__text.css);
@import url(./blocks/positives/__text-right/positives__text-right.css);
@import url(./blocks/positives/__draft/positives__draft_one.css);
@import url(./blocks/positives/__draft/positives__draft_left.css);
@import url(./blocks/positives/__draft/_ragth/positives__draft_ragth.css);

/*Подключаем useful*/
@import url(./blocks/useful/useful.css);
@import url(./blocks/useful/__title/useful__title.css);
@import url(./blocks/useful/__box/useful__box.css);
@import url(./blocks/useful/__conteiner/useful__conteiner.css);
@import url(./blocks/useful/__subtitle/useful__subtitle.css);
@import url(./blocks/useful/__text/useful__text.css);

/*Подключаем steps*/
@import url(./blocks/steps/steps.css);
@import url(./blocks/steps/__table/steps__table.css);
@import url(./blocks/steps/__cell/steps__cell.css);
@import url(./blocks/steps/__link/steps__link.css);
@import url(./blocks/steps/__subtitle/steps__subtitle.css);
@import url(./blocks/steps/__text/steps__text.css);


/*Подключаем partners*/
@import url(./blocks/partners/partners.css);
@import url(./blocks/partners/__image/partners__image.css);
@import url(./blocks/partners/__box/partners__box.css);
@import url(./blocks/partners/__list/partners__list.css);
@import url(./blocks/partners/__cell/partners__cell.css);
@import url(./blocks/partners/__link/partners__link.css);


/*Подключаем footer*/
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__info/footer__info.css);
@import url(./blocks/footer/__box/footer__box.css);
@import url(./blocks/footer/__list/footer__list.css);
@import url(./blocks/footer/__text/footer__text.css);
@import url(./blocks/footer/__item/footer__item.css);
@import url(./blocks/footer/__link/footer__link.css);
@import url(./blocks/footer/__map/footer__map.css);
@import url(./blocks/footer/__subtitle/footer__subtitle.css);
@import url(./blocks/footer/__social-icon.css/footer__social-icon.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/footer/__map/_image/footer__map_image.css);

/*Подключаем menu*/
@import url(./blocks/menu/__link/menu__link.css);
@import url(./blocks/menu/__icon/menu__icon.css);
@import url(./blocks/menu/__list/menu__list.css);
@import url(./blocks/menu/__item/menu__item.css);
@import url(./blocks/menu/__submenu/menu__submenu.css);
@import url(./blocks/menu/__item/_parent/menu__item_parent.css);
@import url(./blocks/menu/__submenu/_item/menu__submenu_item.css);

/*Подключаем menu-mobile*/
@import url(./blocks/menu-mobile/menu-mobile.css);
@import url(./blocks/menu-mobile/__box/menu-mobile__box.css);
@import url(./blocks/menu-mobile/__item/menu-mobile__item.css);
@import url(./blocks/menu-mobile/__phone-image/menu-mobile__phone-image.css);
@import url(./blocks/menu-mobile/__phone/menu_mobile__phone.css);
@import url(./blocks/menu-mobile/__list/menu-mobile__list.css);
@import url(./blocks/menu-mobile/__link/menu-mobile__link.css);
@import url(./blocks/menu-mobile/__body/menu-mobile__body.css);
@import url(./blocks/menu-mobile/__list/_smoll/menu-mobile__list_smoll.css);
@import url(./blocks/menu-mobile/__link/_smoll/menu-mobile__link_smoll.css);

/*Подключаем table*/
@import url(./blocks/table/table.css);
@import url(./blocks/table/__card/table__card.css);
@import url(./blocks/table/__hint/table__hint.css);
@import url(./blocks/table/__text/table__text.css);
@import url(./blocks/table/__title/table__title.css);
@import url(./blocks/table/__image/table__image.css);
@import url(./blocks/table/__link/table__link.css);

/*Подключаем table-smoll*/
@import url(./blocks/table-smoll/table-smoll.css);
@import url(./blocks/table-smoll/__card/table-smoll__card.css);
@import url(./blocks/table-smoll/__image/table-smoll__image.css);
@import url(./blocks/table-smoll/__title/table-smoll__title.css);
@import url(./blocks/table-smoll/__text/table-smoll__text.css);

/*Подключаем line*/
@import url(./blocks/line/line.css);

/*Подключаем text*/
@import url(./blocks/text/text.css);

/*Подключаем title*/
@import url(./blocks/title/title.css);
@import url(./blocks/title/__color/title__color.css);
@import url(./blocks/title/__selection/title__selection.css);
@import url(./blocks/title/__blask/title__blask.css);
@import url(./blocks/title/__smoll/title__smoll.css);

/*Подключаем result*/
@import url(./blocks/result/result.css);
@import url(./blocks/result/__values/result__values.css);
@import url(./blocks/result/__box/result__box.css);
@import url(./blocks/result/__number/result__number.css);
@import url(./blocks/result/__text/result__text.css);
@import url(./blocks/result/__rotation/result__rotation.css);
@import url(./blocks/result/__quote/result__quote.css);
@import url(./blocks/result/__container/result__container.css);
@import url(./blocks/result/__caption/result__caption.css);

/*Подключаем label*/
@import url(./blocks/label/__as-plus/label__as-plus.css);
@import url(./blocks/label/__initial/label__initial.css);
@import url(./blocks/label/__rates/label__rates.css);
@import url(./blocks/label/__right/label__right.css);

/*Подключаем button*/
@import url(./blocks/button/button.css);
@import url(./blocks/button/__margin/button__margin.css);
@import url(./blocks/button/__box/button__box.css);

/*Подключаем link-aim*/
@import url(./blocks/link-aim/link-aim.css);

/*подключаем beginning и другие шапки*/
@import url(./blocks/beginning/beginning.css);
@import url(./blocks/beginning/__text/beginning__text.css);
@import url(./blocks/commercial/commercial.css);
@import url(./blocks/repiair/repiair.css);
@import url(./blocks/services/services.css);
@import url(./blocks/team/team.css);
@import url(./blocks/articles/articles.css);

/*подключаем paragraph*/
@import url(./blocks/paragraph/paragraph.css);
@import url(./blocks/paragraph/__text/paragraph__text.css);
@import url(./blocks/paragraph/__title/paragraph__title.css);

/*подключаем link-black*/
@import url(./blocks/link-black/link-black.css);

/*подключаем main*/
@import url(./blocks/main/__info/main__info.css);
@import url(./blocks/main/__box/main__box.css);
@import url(./blocks/main/__link/main__link.css);
@import url(./blocks/main/__text/main__text.css);
@import url(./blocks/main/__title/main__title.css);

/*подключаем articles*/
@import url(./blocks/articles/articles.css);
@import url(./blocks/articles/__elements/articles__element.css);
@import url(./blocks/articles/__table/articles__table.css);
@import url(./blocks/articles/__card/articles__card.css);
@import url(./blocks/articles/__text/articles__text.css);
@import url(./blocks/articles/__title/articles__title.css);
@import url(./blocks/articles/__image/articles__image.css);
@import url(./blocks/articles/__box/articles__box.css);
@import url(./blocks/articles/__line/articles__line.css);
@import url(./blocks/articles/__link/articles__link.css);

/*подключаем active*/
@import url(./blocks/active/active.css);
@import url(./blocks/close/close.css);

/*подключаем payment-procedure*/
@import url(./blocks/payment-procedure/payment-procedure.css);
@import url(./blocks/payment-procedure/__container/payment-procedure__container.css);
@import url(./blocks/payment-procedure/__title/payment-procedure__title.css);
@import url(./blocks/payment-procedure/__text/payment-procedure__text.css);
@import url(./blocks/payment-procedure/__gray/payment-procedure__gray.css);
@import url(./blocks/payment-procedure/__box/payment-procedure__box.css);
@import url(./blocks/payment-procedure/__number/payment-procedure__number.css);

/*подключаем rates*/
@import url(./blocks/rates/rates.css);

.bor{
    border: 1px solid red;
}

.box{
    border: 1px solid rgb(196, 30, 146);
}

/**************************************/
/**************************************/



.rates__card {
    padding: 10px 10px 0 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 250px;
    background-color:#FAF8F5;
    border-radius: 5px;
    margin: 10px;
}

.rates__header{
    width: 100%;
    background-color: #E1DECE;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
}

.rates__header_text{
    color: #191919;
    font-family: 'Forum';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    font-weight: 900;
    margin: 0;
}

.rates__header_title{
    color: #191919;
    margin: 5px 0 0;
    font-family: 'Forum';
    font-size: 25px;
    line-height: 26px;
    font-weight: 900;
    text-align: center;
}

.rates__title{
    margin: 10px 0;
    font-weight: 700;
    font-size: 23px;
    line-height: 24px;
    text-align: center;
    color: #191919;
}

.rates__subtitle{
    font-weight: 500;
    font-size: 13px;
    line-height: 12px;
    text-align: center;
    color: #191919;
}

.rates__text{
    width: 100%;
    text-align: start;
    font-weight: 400;
    font-size: 17px;
    line-height: 16px;
    color: #404040;
    margin: 15px 0;
}

.rates__item{
    width: 100%;
    text-align: start;
    font-weight: 400;
    font-size: 17px;
    line-height: 16px;
    color: #404040;
    margin: 0 0 7px;
}

.rates__button{
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 16px 50px;
    background: #191919;
    border-radius: 5px;
    border: none;
    width: 100%;
    margin: auto auto 10px;
    transition: .3s;
}

.rates__button:hover{
    cursor: pointer;
    opacity: .9;
    transition: .3s;
}