.label__rates{
    position: absolute;
    left: 20px;
    top: -30px;
    max-width: 400px;
}

@media (max-width: 1024px){
    .label__rates{
        max-width: 300px;
        
    }
}

@media (max-width: 768px){
    .label__rates{
        max-width: 200px;
        top: -20px
    }
}

@media (max-width: 425px){
    .label__rates{
        max-width: 130px;
        top: -10px
    }
}